<div class="right-column">
  <ul class="list-group">
    <li class="list-group-item right-column-header">
      跟隨誰
    </li>

    <li class="list-group-item right-column-footer">
      顯示更多...
    </li>
  </ul>
</div>